<div class="home-page">

  <h2>Your Months</h2>

  @if (months.length === 0) {
  <p class="empty">No months found.</p>
  } @else {
  <div class="months">
    @for (m of months; track m.id) {
    <div class="month-card" (click)="openMonth(m)">
      <div>
        <h3>{{ getMonthName(m.month) }} {{ m.year }}</h3>
      </div>

      <div class="total">
        {{ currency }} {{ m.total | number:'1.2-2' }}
      </div>
    </div>
    }
  </div>
  }

  <button class="logout-btn" (click)="logout()">Logout</button>

</div>
